
        <div class="text-start mt-3 ms-2">
           <%=link_to "Territories", territories_path, class:" text-dark text-decoration-none h5" %>
        </div>
        <div class="text-start mt-5 ms-2 ">
           <%=link_to "Platforms", platforms_path, class:"text-dark text-decoration-none h5" %>
        </div>
        <div class="text-start  mt-5 ms-2">
            <%=link_to "Publishers", publishers_path, class:"text-dark text-decoration-none h5" %>
        </div>

 


