<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Publisher</th>
      <th scope="col">Adress</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @publisher.name %></td>
      <td><%=@publisher.adress %></td>
      <td><%= link_to 'Edit',edit_publisher_path,class:"nav-link" %></td>
    </tr>
 
  </tbody>
</table>
  </tbody>
</table>
